<h2>Delete Artist</h2>
<form action="/artists/<%= @artists.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
