<form method="POST" action="/artists">
  <label>Name</label>
  <input type="test" name="artist[name]">
  <label>Nationality</label>
  <input type="test" name="artist[nationality]">
  <button type="submit">Submit</button>
</form>
